@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* styles/globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1 {
  font-weight: 600;
  font-size: 118px;
}

header {
  background-color: #f8f8f8;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

header nav a {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
}
.flag::after {
  content: "🇲🇳";
}

h1 {
  font-size: 32px;
}

/* From Uiverse.io by xXJollyHAKERXx */
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}
p {
  margin: 0 20px;
  font-weight: 100;
  line-height: 1.4;
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
