@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* styles/globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-style: italic;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

header nav a {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
}
.flag::after {
  content: "🇲🇳";
}

h1 {
  font-size: 32px;
}

/* From Uiverse.io by xXJollyHAKERXx */
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
